html,
body {
	background-color: black;
	text-align: center;
	color: #efe2c7;
	
}
h1 {
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
}

h2 {
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
}
 .buffer {
 	padding-top: 20px;
 }

section {
	background-color: #efe2c7;
}

img {
	background-image: url(Michael_robert_smith_headshot);
}

button {
	border: none;
	background-color: black;
	color: #efe2c7;
	font-family: 'Montserrat', sans-serif;
}

.btn-lg {
	color: #efe2c7;
}

.btn-lg:hover {
	background-color: black;
	color: #efe2c7;
}